span.word:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #033;
}
pre span.word {
    border: solid 1px #faa;
    font-size: 1.3em;
    font-family: Helvetica;
    user-select: none; /* CSS3 (little to no support) */
    -ms-user-select: none; /* IE 10+ */
    -moz-user-select: none; /* Gecko (Firefox) */
    -webkit-user-select: none; /* Webkit (Safari, Chrome) */
}
span.word.active {
    color: #002;
    background-color: #ffd;
}

ul {
    padding: 0 0 0 20px;
}

pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    word-break: break-word;
    background-color: white;
}

img.image {
    margin: 4px auto;
    width: 80%;
    border: solid 1px #eee;
}

article {
    margin-bottom: 30px;
    border-left: solid 5px #eee;
    padding-left: 10px;
}

.sidebar .panel-body {
    height: 300px;
    overflow: overlay;
    overflow-x: scroll;
}

.spinner-wrapper {
    width: 100%;
    text-align: center;
    margin-top: 50px;

}